{% load humanize %}
<div class="media" style="width: 100%; border-radius: 25px; border-color: black; 
border: 2px solid; margin-bottom: 5px; padding: 5px 5px; 
background-color: {% if product == first_product %}
                        aqua
                  {% elif product == second_product %}
                        aquamarine
                  {% else %}
                        white
                  {% endif %};" 
id="product{{product.id}}">
    <img src="{{link}}/media/{{ product.image}} " class="mr-3" width="120" height="120" alt="Sample Image"
        style="border-radius: 25px;">
    <div class="media-body" style="position: relative;">
        <h5 class="mt-0"><a style="color: black; text-decoration: none;"
                href="/product/{{product.id}}">{{ product.title }} <small><i>Ngày đăng:
                        {{ product.created_at }}</i></small></a></h5>
        <p>{{product.description | truncatewords:50}}</p>
        <p><b>Giá bán: {{product.price | intcomma}} vnđ</b></p>
        <div style="position: absolute; right: 20px; bottom: 0.5px;">
            {% include "Shop/function.html" %}
        </div>
    </div>
</div>